CustomerInterface/lounge-royale.dtd

<!ELEMENT appointment (customerEmail, customerName, category, service, date, time, notes?, technician, status)>
<!ATTLIST appointment id CDATA #REQUIRED>
<!ELEMENT customerEmail (#PCDATA)>
<!ELEMENT customerName (#PCDATA)>
<!ELEMENT category (#PCDATA)>
<!ELEMENT service (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT time (#PCDATA)>
<!ELEMENT notes (#PCDATA)>
<!ELEMENT technician (#PCDATA)>
<!ELEMENT status (#PCDATA)>
